In [3]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy
import os
import zipfile
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

Data Wrangling

In [15]:
root = './'
folder = os.listdir(root)
missing_value_formats = ['n.a', '?', 'n/a', 'na', '--', '-']

for file in folder:
    if file.endswith('.zip'):
        with zipfile.ZipFile(root+file, 'r') as zfile:
            zfile.extractall("./data/")
        for i in os.listdir('./data/'):
            if i.endswith('.zip'):
                with zipfile.ZipFile(os.path.join(root, "data/", i), 'r') as z:
                    z.extractall('data/')

data = {}
for file in os.listdir("./data/"):
    if file.endswith('.csv'):
        data[file[:file.find('.')]] = pd.read_csv("./data/" + file, na_values=missing_value_formats)

In [17]:
data.keys()

dict_keys(['aisles', 'departments', 'order_products__prior', 'order_products__train', 'orders', 'products', 'sample_submission'])

In [21]:
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        if filename.startswith('__'):
            pass
        else:
            if filename.endswith('.csv'):
                print(os.path.join(dirname, filename))

./data/aisles.csv
./data/departments.csv
./data/order_products__prior.csv
./data/order_products__train.csv
./data/orders.csv
./data/products.csv
./data/sample_submission.csv
./data/__MACOSX/._aisles.csv
./data/__MACOSX/._departments.csv
./data/__MACOSX/._order_products__prior.csv
./data/__MACOSX/._order_products__train.csv
./data/__MACOSX/._orders.csv
./data/__MACOSX/._products.csv

In [1]:
!mkdir datafiles
!cp ./data/*.csv ./datafiles

In [6]:
datadir = "./datafiles/"
orders = pd.read_csv(datadir + 'orders.csv')
order_products_train = pd.read_csv(datadir + 'order_products__train.csv')
products = pd.read_csv(datadir + 'products.csv')
aisles = pd.read_csv(datadir + 'aisles.csv')
departmetns = pd.read_csv(datadir + 'departments.csv')

Data Integration

In [17]:
orders.head(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0

In [18]:
order_products_train.head(3)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0

In [19]:
products.head(3)

   product_id                          product_name  aisle_id  department_id
0           1            Chocolate Sandwich Cookies        61             19
1           2                      All-Seasons Salt       104             13
2           3  Robust Golden Unsweetened Oolong Tea        94              7

In [20]:
aisles.head(3)

   aisle_id                  aisle
0         1  prepared soups salads
1         2      specialty cheeses
2         3    energy granola bars

In [21]:
departmetns.head(3)

   department_id department
0              1     frozen
1              2      other
2              3     bakery

In [ ]:
df1 = datasets